div {
    width: 600px;
    border: 15px solid gainsboro;
    padding: 50px;
    margin: 20px;
  }
li{
    font-weight: bold;
}

span{
    font-weight: normal;
}

h1{
    text-align: center;
}
table{
    width: 500px;
}

