*{
    Margin : 0;
    Padding :0;
    Box-sizing : border-box;
   }

body{
    background-image: url("./pattern.jpg");
}

header{
    top: 0;
    width: 100%;
    background-color: white;
    display:  flex;
    justify-content: space-between;
    position:fixed; /*trik posisi fix*/
	
}
#logo{
    float: left;
}
nav{
    display: inline-block;
    float: right;
    margin: 20 20 20 20;
}
.menu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 12;
    float: right;
    width: 75px;
    text-decoration: none;
    
}
.menu:link{
    background-color: white;
    color: blue;

}
.menu:visited{
    background-color: white;
    color: blue;
}

h1{
    text-align: center; 
}

section{
    background-color: white;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100;

}


a{
    text-decoration: none;
    color: inherit;
}


#article-list{
    background-color: white;
    margin: 10px 100px 10px 100px;
    border-bottom: none;
}

p{
    text-align: justify;
    margin: 10 10 10 0;
    font-family: sans-serif;
    font-size: 14;
}

div{
    margin: 20 10 20 10;
    padding: 10px;
    border-bottom: 2px solid black;
     
}

footer{
    text-align: center;
    background-color: black;
    padding: 20 20 20 20;
}
h5{
    color: white;
}